.pg1-section {
  display: block;
  max-width: 100%;
  padding-top: 20em;
  padding-left: 9em;
  height: 35em;
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.4);
  background-image: url("../images/bgimage.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.pg1-title {
  position: relative;
  display: inline;
  font-family: "Titillium Web";
  font-weight: 700;
  font-size: 4em;
  text-align: left;
  color: rgb(227, 227, 227);
}

.pg1-title-underline {
  display: inline;
  font-family: "Titillium Web";
  font-weight: 700;
  font-size: 4em;
  color: rgb(227, 227, 227);
  position: relative;
}

.pg1-title-underline:before {
  content: "";
  background: linear-gradient(90deg, rgba(73,233,255,0.7) 0%, rgba(146,135,255,0.7) 100%);
  position: absolute;

  width: 100%;
  height: 0.17em;
  bottom: 0.1em;
  left: 0;

  transform-origin: bottom left;
  transform: scaleX(0);
  animation: pg1-underline-animation 1.4s ease-in-out forwards;
  animation-fill-mode: forwards;
}

.pg1-text-scrolldown {
  font-size: 1.16em;
  line-height : center;
  margin-left: 0.5em;
  font-family: "Pretendard";
  color: rgb(201, 201, 201);
}

.pg1-icon-scrolldown {
  width: 2.4em;
  height: 2.4em;
  rotate: 90deg;
}

.pg1-area-scrolldown{
  display: flex;
  flex-direction: row;
  margin-top: 2.5em;
  align-items : center;
  color: rgb(201, 201, 201);
}

.pg1-area-cardstatus {
  display: flex;
  flex-direction: row;
  align-items : center;
  padding-top: 17em;
}

.pg1-text-cardselect {
  margin-left: 0.75em;
  margin-right: 0.75em;
  font-family: "Titillium Web";
  font-weight: 700;
  color: rgb(227, 227, 227);;
}

.pg1-text-cardunselect {
  margin-left: 0.75em;
  margin-right: 0.75em;
  font-family: "Titillium Web";
  font-weight: 200;
  color: rgb(227, 227, 227);;
}

@keyframes pg1-underline-animation {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}