.pg1-section {
  display: block;
  width: 100%;
  padding-top: 22em;
  padding-left: 7em;
  height: 38em;
  background-image: url("../images/bgimage.jpg");
  background-size:     cover;
  background-repeat:   no-repeat;
  background-position: center center;
}

.pg1-title {
  font-family: "Titillium Web";
  font-weight: 700;
  font-size: 4em;
  text-align: left;
  color: rgb(227, 227, 227);
}

.pg1-text-scrolldown {
  font-size: 1.16em;
  line-height : center;
  margin-left: 0.5em;
  color: rgb(201, 201, 201);
}

.pg1-icon-scrolldown {
  width: 2.4em;
  height: 2.4em;
  rotate: 90deg;
}

.pg1-box-underline {
  height: 0.75em;
  width: 0em;
  background: linear-gradient(90deg, rgba(73,233,255,0.7) 0%, rgba(146,135,255,0.7) 100%);
  animation: underline-animation 2s ease-in-out forwards;
}

.pg1-box-blank {
  width: 21.7em;
  background: rgba(0, 0, 0, 0);
}

.pg1-area-underline{
  display: flex;
  flex-direction: row;
}

.pg1-area-scrolldown{
  display: flex;
  flex-direction: row;
  margin-top: 2em;
  align-items : center;
  color: rgb(201, 201, 201);
}

.pg1-area-cardstatus {
  display: flex;
  flex-direction: row;
  align-items : center;
  padding-top: 21em;
}

.pg1-text-cardselect {
  margin-left: 0.75em;
  margin-right: 0.75em;
  font-family: "Titillium Web";
  font-weight: 700;
  color: white;
}

.pg1-text-cardunselect {
  margin-left: 0.75em;
  margin-right: 0.75em;
  font-family: "Titillium Web";
  font-weight: 200;
  color: white;
}

@keyframes underline-animation {
  from {
    width: 0;
  }
  to {
    width: 25.3em;
  }
}